<!doctype html>
<html>
<head>
  <title>{{title}}</title>
  {{{head_injection}}}
</head>
<body>
  <h1>{{title}}</h1>
  <em>Posted on {{date}}</em>
  <article>
    {{{content}}}
  </article>
</body>
</html>
